/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ebi-metagenomics/miassembler Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    use_fire_download          = false

    samplesheet                = null

    // Override samplesheet metadata when a specific execution is required.
    single_end                       = null
    library_layout                   = null
    library_strategy                 = null
    platform                         = ""

    // QC FILTERING

    // Short reads QC filtering options
    short_reads_filter_ratio_threshold    = 0.1
    short_reads_low_reads_count_threshold = 1000

    // Long reads options
    long_reads_pacbio_quality_threshold = 0.9
    long_reads_ont_quality_threshold    = 0.8
    long_reads_min_read_length          = 200

    // CAUTION: setting this variable to false skips human decontamination of raw reads and assembled contigs.
    skip_human_decontamination = false

    // Reference genomes for decontamination of reads and contigs (both long- and short-read data)
    // In contrast to the corresponding samplesheet parameters, these parameters are applied to all samples
    reference_genomes_folder = null
    contaminant_reference    = null
    human_reference          = null
    phix_reference           = null
    lambdaphage_reference    = null

    // Set default values for contig alignment filtering during decontamination
    min_qcov = 0.3
    min_pid  = 0.4

    // ASSEMBLY

    /* By default the pipeline will pick
    * - metaspades for paired-end short reads
    * - megahit for single-end short reads
    * - flye for long reads
    *
    * Setting --assembler will force the assembler
    *
    * - spades: Use for assembling single end reads
    *
    * - metaspades: Use for assembling paired end reads
    *   with moderate memory and runtime requirements
    *
    * - megahit: Use when memory or runtime requirements
    *   for metaspades are prohibitively high, such as:
    *    - Memory >1TB
    *    - Runtime >3-4 days
    *
    * - flye: Use for any long-read assembly. long_reads_assembler_config
    *   should be selected depending on input data (if ONT or
    *   pacbio, and if data quality is high or low)
    */
    assembler                        = null

    // Assembly options
    spades_only_assembler               = true
    short_reads_min_contig_length       = 500
    short_reads_min_contig_length_metat = 200
    short_reads_contig_threshold        = 2
    long_reads_assembler_config         = null
    assembly_memory                     = 100

    // Post-assembly options
    diamond_db                       = null

    // MultiQC options
    multiqc_config                   = null
    multiqc_title                    = null
    multiqc_logo                     = null
    max_multiqc_email_size           = '25.MB'
    multiqc_methods_description      = null

    // Boilerplate options
    outdir                           = "results"
    publish_dir_mode                 = 'copy'
    email                            = null
    email_on_fail                    = null
    plaintext_email                  = false
    monochrome_logs                  = false
    help                             = false
    show_hidden                      = false
    hook_url                         = null
    version                          = false
    trace_report_suffix              = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

    max_spades_retries               = 3
    max_megahit_retries              = 3
    max_flye_retries                 = 3

    // Assembler versions
    spades_version                   = "3.15.5"
    megahit_version                  = "1.2.9"
    flye_version                     = "2.9"

}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'


profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
        nextflow.enable.configProcessNamesValidation = true
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    docker {
        docker.enabled         = true
        conda.enabled          = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
        docker.runOptions      = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions      = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    podman {
        podman.enabled         = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    shifter {
        shifter.enabled        = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    charliecloud {
        charliecloud.enabled   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        apptainer.enabled      = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        conda.enabled          = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    gitpod {
        executor.name          = 'local'
        executor.cpus          = 4
        executor.memory        = 8.GB
    }
    test {
        includeConfig 'conf/test.config'
    }
}

// Set default registry for Apptainer, Docker, Podman and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry   = 'quay.io'
docker.registry      = 'quay.io'
podman.registry      = 'quay.io'
singularity.registry = 'quay.io'

nextflow {
    enable {
        strict = true
    }
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.7.2'
}

validation {
    monochromeLogs = params.monochrome_logs
    help {
        enabled = true
    }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'ebi-metagenomics/miassembler'
    contributors    = [
        [
            name: 'Martin Beracochea',
            affiliation: 'EMBL-EBI',
            github: '@mberacochea',
            contribution: [
                'author',
                'maintainer',
            ],
            orcid: 'https://orcid.org/0000-0003-3472-3736',
        ],
        [
            name: 'Ekaterina Sakharova',
            affiliation: 'EMBL-EBI',
            github: '@KateSakharova',
            contribution: [
                'author',
                'maintainer',
            ],
            orcid: 'https://orcid.org/0000-0001-6867-2039',
        ],
        [
            name: 'Varsha Kale',
            affiliation: 'Aalborg University',
            github: '@Vkale1',
            contribution: [
                'author'
            ],
            orcid: 'https://orcid.org/0000-0002-3503-6383',
        ],
        [
            name: 'Germana Baldi',
            affiliation: 'EMBL-EBI',
            github: '@Ge94',
            contribution: [
                'maintainer',
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0003-1719-5206',
        ],
        [
            name: 'Sofia Ochkalova',
            affiliation: 'EMBL-EBI',
            github: '@ochkalova',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0003-2814-6012',
        ],
        [
            name: 'Sandy Rogers',
            affiliation: 'EMBL-EBI',
            github: '@SandyRogers',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0002-4283-6135',
        ],
        [
            name: 'Jennifer Mattock',
            affiliation: 'EMBL-EBI',
            github: '@jmattock5',
            contribution: [
                'maintainer',
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0001-8978-8946',
        ],
        [
            name: 'Christian Atallah',
            affiliation: 'EMBL-EBI',
            github: '@chrisata',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0002-4853-4189',
        ],
        [
            name: 'Tim Rozday',
            affiliation: 'EMBL-EBI',
            github: '@timrozday-mgnify',
            contribution: [
                'contributor'
            ],
            orcid: 'https://orcid.org/0000-0001-7016-0665',
        ]
    ]
    homePage        = 'https://github.com/ebi-metagenomics/miassembler'
    description     = "Microbiome Informatics metagenomes assembly pipeline"
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '3.2.0'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
