/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'FETCHTOOL*' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        ext.args = params.private_study ? "--private" : ""
    }

    withName: 'FASTP' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def file_patterns_to_publish = [
                            'fastp.log',
                            'fastp.html',
                            'fastp.json'
                        ]
                        def output_file = new File(filename);
                        if ( file_patterns_to_publish.any { output_file.name.contains(it) } ) {
                            return "${study_reads_folder()}/qc/fastp/${output_file.name}";
                        }
                        return null;
                    }
                }
            ]
        ]
    }

    withName: 'FASTQC' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${study_reads_folder()}/qc/fastqc/${output_file.name}";
                    }
                }
            ]
        ]
    }

    // This BWAMEM2_MEM belongs to the coverage module
    withName: 'BWAMEM2_MEM_COVERAGE' {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 1.h  * task.attempt,  'time'    ) }

        ext.args  = "-M"
        ext.args2 = "-F 268 -uS"
    }

    /* Decontamination */
    withName: 'BWAMEM2DECONTNOBAMS' {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
        ext.prefix = "decontaminated"
    }

    withName: 'HUMAN_PHIX_DECONTAMINATION' {
        memory = { check_max( 64.GB * task.attempt, 'memory'  ) }
    }

    withName: 'HOST_DECONTAMINATION' {
        memory = { check_max( 24.GB * task.attempt, 'memory'  ) }
    }
    /* --------- */

    /* Assembly */
    withName: 'SPADES' {
        memory = { check_max(params.assembly_memory.GB * task.attempt, 'memory') }
        cpus   = { check_max( 32 * task.attempt, 'cpus') }
        ext.args = params.spades_only_assembler ? "--only-assembler" : ""

        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def file_patterns_to_publish = [
                            'params.txt',
                            'graph.fastg',
                            'contigs.fa.gz',
                            'scaffolds.fa.gz',
                            'graph_with_scaffolds.gfa.gz'
                        ]
                        def output_file = new File(filename);
                        if ( file_patterns_to_publish.any { output_file.name.contains(it) } ) {
                            return "${study_reads_folder()}/assembly/${meta.assembler}/${meta.assembler_version}/${output_file.name}";
                        }
                        return null;
                    }
                }
            ]
        ]
    }

    withName: 'MEGAHIT' {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }

        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                pattern: "megahit_out/*.fa*.gz",
                saveAs: {
                    filename -> {
                        def output_file = new File(filename);
                        return "${study_reads_folder()}/assembly/${meta.assembler}/${meta.assembler_version}/${output_file.name}";
                    }
                }
            ]
        ]
    }

    withName: 'SEQKIT_SEQ' {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }

    withName: 'BLAST_BLASTN*' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }

        ext.args = [
            '-task',
            'megablast',
            '-word_size',
            '28',
            '-best_hit_overhang',
            '0.1',
            '-best_hit_score_edge',
            '0.1',
            '-dust',
            'yes',
            '-evalue',
            '0.0001',
            '-min_raw_gapped_score',
            '100',
            '-penalty',
            '-5',
            '-perc_identity',
            '80.0',
            '-soft_masking',
            'true',
            '-window_size',
            '100',
            '-outfmt',
            '"6 qseqid ppos"',
        ].join(' ').trim()
    }

    withName: 'SEQKIT_GREP' {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }

        ext.args = "--invert-match"
    }

    withName: 'BWAMEM2_INDEX' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }

    withName: 'METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                pattern: "*.txt.gz",
                saveAs: {
                    filename -> {
                        def output_file = new File(filename);
                        return "${study_reads_folder()}/assembly/${meta.assembler}/${meta.assembler_version}/coverage/${output_file.name}";
                    }
                }
            ]
        ]
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }

    withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        publishDir = [
            [
                path: "${params.outdir}/pipeline_info",
                mode: params.publish_dir_mode,
                pattern: '*_versions.yml'
            ]
        ]
    }

    withName: 'MULTIQC' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }

        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${study_reads_folder()}/assembly/${meta.assembler}/${meta.assembler_version}/qc/multiqc/${output_file.name}";
                    }
                }
            ]
        ]
    }

    withName: 'QUAST' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                            return null;
                        }
                        def output_file = new File(filename);
                        return "${study_reads_folder()}/assembly/${meta.assembler}/${meta.assembler_version}/qc/quast/${output_file.name}";
                    }
                }
            ]
        ]
        // Disable Quast reference download
        // NOTICE: Maximum number of references (--max-ref-number) is set to 0, search in SILVA 16S rRNA database is disabled //
        ext.args = "--max-ref-num 0"
    }

    withName: 'PUBLISH_DECONTAMINATED' {
        cpus   = { check_max( 1                    , 'cpus'    ) }
        memory = { check_max( 250.MB * task.attempt, 'memory'  ) }
        time   = { check_max( 30.m                 , 'time'    ) }

        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        def output_file = new File(filename);
                        return "${study_reads_folder()}/assembly/${meta.assembler}/${meta.assembler_version}/decontamination/${output_file.name}";
                    }
                }
            ]
        ]
    }
}
