/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'SAMPLESHEET_CHECK' {
        publishDir = [
            [
                path: "${params.outdir}/pipeline_info",
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: 'FETCHTOOL*' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        ext.args = params.private_study ? "--private" : ""
    }

    withName: 'FASTP' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                                return null;
                            }
                            def studyAccessionPrefix = params.study_accession.substring(0, 7);
                            def readsAccessionPrefix = params.reads_accession.substring(0, 7);
                            def file_patterns_to_publish = [
                                    'fastp.log',
                                    'fastp.html',
                                    'fastp.json'
                            ]
                            def output_file = new File(filename);
                            if ( file_patterns_to_publish.any { output_file.name.contains(it) } ) {
                                return "${studyAccessionPrefix}/${params.study_accession}/${readsAccessionPrefix}/${params.reads_accession}/qc/fastp/${output_file.name}";
                            }
                            return null;
                    }
                }
            ]
        ]
    }
    withName: 'FASTQC' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
        publishDir = [
            [
                path: "${params.outdir}",
                mode: params.publish_dir_mode,
                failOnError: true,
                saveAs: {
                    filename -> {
                        if ( filename.equals('versions.yml') ) {
                                return null;
                            }
                        def studyAccessionPrefix = params.study_accession.substring(0, 7);
                        def readsAccessionPrefix = params.reads_accession.substring(0, 7);
                        def output_file = new File(filename);
                        return "${studyAccessionPrefix}/${params.study_accession}/${readsAccessionPrefix}/${params.reads_accession}/qc/fastqc/${output_file.name}";
                    }
                }
            ]
        ]
    }

    withName: 'BWAMEM2_MEM' {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }

        ext.args  = "-M"
        ext.args2 = [
            '-f',
            '12',
            '-F',
            '256',
            '-uS',
        ].join(' ').trim()
    }

    withName: 'SAMTOOLS_BAM2FQ' {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
        ext.prefix = "decontaminated"
    }

    withName: 'SPADES' {
        ext.args = params.spades_only_assembler ? "--only-assembler" : ""

        memory = { "$params.assembly_memory" + ".GB" * task.attempt }
        cpus   = 32
    }

    withName: 'MEGAHIT' {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }

    withName: 'SEQKIT_SEQ' {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }

        ext.args = "--min-len $params.min_contig_length"
    }

    withName: 'BLAST_BLASTN*' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }

        ext.args = [
            '-task',
            'megablast',
            '-word_size',
            '28',
            '-best_hit_overhang',
            '0.1',
            '-best_hit_score_edge',
            '0.1',
            '-dust',
            'yes',
            '-evalue',
            '0.0001',
            '-min_raw_gapped_score',
            '100',
            '-penalty',
            '-5',
            '-perc_identity',
            '80.0',
            '-soft_masking',
            'true',
            '-window_size',
            '100',
            '-outfmt',
            '"6 qseqid ppos"',
        ].join(' ').trim()
    }

    withName: 'SEQKIT_GREP' {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }

        ext.args = "--invert-match"
    }

    withName: 'BWAMEM2_INDEX' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }

    withName: 'METABAT2_JGISUMMARIZEBAMCONTIGDEPTHS' {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }

    withName: 'SAMTOOLS_IDXSTATS' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

    withName: 'MULTIQC' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }

        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
    }

    withName: 'QUAST' {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }
}
